<div>
  <h2>About Us</h2>

  <p>DunScan is a block-explorer for Dune Network, built
  by <a href="https://origin-labs.com/">Origin-Labs</a>. Its goal
  is not only to be useful to Dune users, but also to the
  development team, so we often switches the network to follow the
  most recent developments.</p>

</div>
