<div>
  <h1>Terms of Services for DunScan API</h1><h2>Introduction</h2><p>The DunScan Developer APIs is available as a free service to the Dune community. We do our best effort to make it as available and scalable as possible, but without any warranty of any kind.</p><h2>General Guidelines</h2><p>If you make use of our API, you should acknowledge that fact on your website or application with a mention <strong>"Powered by DunScan API" </strong>with a direct link to dunscan.io.<br>We are likely to ban any application or service that would generate too much traffic, or would slow down our service for other users. If you expect your application or service to suffer from this problem, you should contact us beforehand at <a href="mailto:contact@dunscan.io">contact@dunscan.io.</a><br>The DunScan API is provided to the community in the hope to help build new services and new applications on top of Dune. This API should not be used to build a competing service with the DunScan block-explorer. Instead, if you need a block-explorer, you should link to DunScan website from your application or service.</p><h2>Documentation</h2>Documentation on the DunScan Developer API is available directly from the DunScan application at <a href="http://dunscan.io/api">http://dunscan.io/api</a>.

</div>
