html {
    --body-bg-color: #f0f0f0;
    --main-bg-color: #eaeaea;
    --progress-bg-color: #2a8075;
    --progressbar-bg-color: #12364D;
    --pending-bg-color: #fafafa;
    --snapshot-bg-color: #83a5c1;
    --search-bg-color: white;
    --search-bg-hover-color: #e9e9e9;
    --active-bg-color: DodgerBlue;
    --footer-bg-color: #272727;
    --mainchain-bg-color: #93ff93;
    --altchain-bg-color: #f08080;
    --block-bg-color: #e1e1e1;
    --tooltip-bg-color: #c0c0c0;
    --code-bg-color: white;
    --health-bg-color: #edeff0;
    --panel-bg-color: transparent;
    --panel-body-bg-color: white;
    --panel-header-bg-color: #eaeaea;
    --api-code-bg-color: #e1e1e1;

    --main-text-color: black;
    --link-text-color: black;
    --link-blue-color: #337ab7;
    --footer-text-color: white;
    --slot-text-color: black;
    --page-size-text-color: #337ab7;
    --disable-text-color: #cacaca;
    --tooltip-text-color: white;
    --nav-text-color: white;
    --nav-hover-color: #337ab7;
    --ad-text-color: #615e5e;
    --secondary-text-color: #333333;
    --api-parameter-color: #263238;

    --main-border-color: #c0c0c0;
    --slot-border-color: black;
    --balance-border-color: black;
    --tooltip-border-color: black;
    --value-border-color: #c0c0c0;

    --main-green-color: #00d100;
    --main-greener-color: #93ff93;
    --main-red-color: red;
    --main-blue-color: blue;
    --main-lightblue-color: blue;
    --main-yellow-color: #cecc4d;
    --main-darkgrey-color: #272727;
    --main-grey-color: #c0c0c0;
    --main-lightgrey-color: lightgray;

    --bts-success-bg: #dff0d8;
    --bts-danger-bg: #f2dede;
    --bts-warning-bg: #fcf8e3;
    --bts-info-bg: #d9edf7;
    --bts-success-border: #d6e9c6;
    --bts-danger-border: #f2dede;
    --bts-warning-border: #fcf8e3;
    --bts-info-border: #bce8f1;

    --td-disable-a-color : #158cba ;
    --td-warning-a-color : #158cba ;

    --main-title-font-family: Lato, sans-serif;
    --main-text-font-family: Lato, sans-serif;
    --main-link-font-family: Lato, sans-serif;
    --main-panel-title-font-family: Lato, sans-serif;

    --vote-timeline-desc: #ece9e9;
    --vote-timeline-progress: #d5e6f1;
    --vote-timeline-passed: #dfece3;
    --vote-timeline-wait: #ece9e9;
    --vote-timeline-ignored: #ece9e9;
    --home-sponsored-background1: #d3ddde;
    --home-sponsored-background2: #d3ddde ;
    --home-sponsored-background3: #d3ddde;
    --home-sponsored-background: #d3ddde;

    --blocks-size-selector-bg : linear-gradient(white, white) ;
}

