html {
    --body-bg-color: #272b30;
    --main-bg-color: #525559;
    --progress-bg-color: black;
    --progressbar-bg-color: #7f0000;
    --pending-bg-color: #fafafa;
    --snapshot-bg-color: #83a5c1;
    --search-bg-color: black;
    --search-bg-hover-color: #e9e9e9;
    --active-bg-color: DodgerBlue;
    --footer-bg-color: #3a3f44;
    --mainchain-bg-color: #007300;
    --altchain-bg-color: #7f0000;
    --block-bg-color: #525559;
    --tooltip-bg-color: #c0c0c0;
    --code-bg-color: black;
    --health-bg-color: #3a3f44;
    --panel-bg-color: #272b30;
    --panel-body-bg-color: #525559;
    --panel-header-bg-color: #676a6e;
    --api-code-bg-color: #e1e1e1;

    --main-text-color: white;
    --link-text-color: white;
    --link-blue-color: #337ab7;
    --footer-text-color: white;
    --slot-text-color: white;
    --page-size-text-color: #ffffff;
    --disable-text-color: #7a8288;
    --tooltip-text-color: white;
    --nav-text-color: white;
    --nav-hover-color: #337ab7;
    --ad-text-color: white;
    --secondary-text-color: #f2f2f2;
    --api-parameter-color: white;

    --main-border-color: #272b30;
    --slot-border-color: black;
    --balance-border-color: #337ab7;
    --tooltip-border-color: black;
    --value-border-color: #272b30;

    --main-green-color: #00d100;
    --main-greener-color: #93ff93;
    --main-red-color: red;
    --main-blue-color: blue;
    --main-lightblue-color: cornflowerblue;
    --main-yellow-color: #cecc4d;
    --main-darkgrey-color: #272727;
    --main-grey-color: #c0c0c0;
    --main-lightgrey-color: lightgray;

    --bts-success-bg: #007300;
    --bts-danger-bg: #7f0000;
    --bts-warning-bg: #b27300;
    --bts-info-bg: #000099;
    --bts-success-border: #007300;
    --bts-danger-border: #7f0000;
    --bts-warning-border: #b27300;
    --bts-info-border: #000099;

    --td-disable-a-color : #ffffff ;
    --td-warning-a-color : #ffffff ;

    --main-title-font-family: Lato, sans-serif;
    --main-text-font-family: Lato, sans-serif;
    --main-link-font-family: Lato, sans-serif;
    --main-panel-title-font-family: Lato, sans-serif;

    --vote-timeline-desc: #797979;
    --vote-timeline-progress: #005c98;
    --vote-timeline-passed: #008428;
    --vote-timeline-wait: #797979;
    --vote-timeline-ignored: #797979;
    --home-sponsored-background1: #484e55;
    --home-sponsored-background2: #3a3f44 ;
    --home-sponsored-background3: #313539;

    --blocks-size-selector-bg : linear-gradient(#484e55, #3a3f44 60%, #313539) ;
}
